<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gigaspaces-data="http://www.springframework.org/schema/data/gigaspaces"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:os-core="http://www.openspaces.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/data/gigaspaces http://www.springframework.org/schema/data/gigaspaces/spring-data-gigaspaces.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.openspaces.org/schema/core http://www.openspaces.org/schema/14.5/core/openspaces-core.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.springframework.data.gigaspaces.examples.basic.custom"/>


    <!-- Enables initialization for Gigaspaces Repositories:
        all interfaces that extend the GigaspacesRepository will be initialized in the context
        in this example only PersonRepository is initialized this way
    -->
    <gigaspaces-data:repositories base-package="org.springframework.data.gigaspaces.examples.basic.custom"/>

    <os-core:embedded-space id="space" name="space"/>

    <os-core:giga-space id="gigaSpace" space="space"/>

</beans>
