<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:os-core="http://www.openspaces.org/schema/core"
       xmlns:os-remoting="http://www.openspaces.org/schema/remoting"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.openspaces.org/schema/remoting http://www.openspaces.org/schema/9.7/remoting/openspaces-remoting.xsd
						   http://www.openspaces.org/schema/core http://www.openspaces.org/schema/9.7/core/openspaces-core.xsd">

	<context:component-scan base-package="com.gigaspaces.droolsintegration"/>
	
	<!-- Enables to configure Spring beans through annotations   -->
	<context:annotation-config />
	
	<!-- Enables using @RemotingService and other remoting related annotations   -->
	<os-remoting:annotation-support />
	
	<os-core:space id="space" url="jini://*/*/space" />
	
	<os-core:giga-space id="gigaSpace" space="space"/>
	
	<!-- Enables the usage of @GigaSpaceContext annotation based injection -->
    <os-core:giga-space-context/>
    
    <!-- Predefined set of rule definitions (DSL's) -->
    <bean id="ruleDefinitions" class="java.util.LinkedList">
        <constructor-arg>
            <list>
                <!--add some values-->
            </list>
        </constructor-arg>
    </bean>

	<!-- Predefined set of rule definitions (DSL's) -->
    <bean id="ruleSets" class="java.util.HashMap">
        <constructor-arg>
            <map>
            	<entry key="ApplicantAge" value="META-INF/rules/ApplicantAgeRuleSet.xml"/>
            	<entry key="Holiday" value="META-INF/rules/HolidayRuleSet.xml"/>
            </map>
        </constructor-arg>
    </bean>

</beans>